<div class="background" ng-if="control">
	<div class="jump_show_parent" style="width: 700px;"  ng-init="init()">
		<div class="jump_show">
		<div class="jump_show_head" style="width:600px;">新增套餐类型</div>
		<div style="max-height: 500px;overflow: auto;width:600px;">
			<div style="background: white;padding-top:13px;padding-left:13px;">
				<table width="100%" cellspacing="10" >
				<tr style="height:30px">
					<td style="width: 34%;padding-left: 40px;">套餐类型:</td>
					<td style="width: 80%;">
 						<input type="text" style="width: 90%;" ng-model="mificardType.cardType" ng-blur="check.cardType();" placeholder="套餐类型名称(建议使用字母和数字组成)"/>
						<div class="alert_note" ng-if="alert.cardType">
							{{alertInfo.cardType}}
						</div>
					</td>
				</tr>
				<tr style="height:30px">
					<td style="width: 34%;padding-left: 40px;">每月最大使用量(M):</td>
					<td style="width: 80%;">
						<input type="text" style="width: 90%;" ng-model="mificardType.maxQuota" ng-blur="check.maxQuota();" placeholder="整数"/>
						<div class="alert_note" ng-if="alert.maxQuota">
							{{alertInfo.maxQuota}}
						</div>
					</td>
				</tr>				
				<tr style="height:30px">
					<td style="width: 34%;padding-left: 40px;">每月费用(元):</td>
					<td style="width: 80%;">
						<input type="text" style="width: 90%;" ng-model="mificardType.monthFee" ng-blur="check.monthFee();" placeholder="最多两位小数"/>
						<div class="alert_note" ng-if="alert.monthFee">
							{{alertInfo.monthFee}}
						</div>
					</td>
				</tr>
			</table>
		</div>
		</div>				
		<div class="jump_show_foot " style="width:600px;">
			<div class="click_button btn btn-primary" style="margin: auto; " ng-click="send() ">确定</div>
			<div class="click_button btn btn-primary" style="margin: auto; " ng-click="back() ">取消</div>
		</div>
		</div>
	</div>	
</div>
