<div class="background" ng-if="control">
	<div class="jump_show_parent" ng-init="init();">
		<div class="jump_show">
			<div class="jump_show_head">新增用户来源</div>
			<div style="max-height: 500px;overflow: auto;">
				<div style="background: white;padding-top:13px;padding-left:13px;">
					<table width="90%">
						<tr style="height: 30px;">
							<td width="30%">名称:</td>
							<td>
								<div>
									<input style="display: block;width: 100%;" ng-model="groupobj.groupName" ng-blur="check.groupName()"/>
								</div>
								<div class="alert_note" ng-if="alert.groupName">
									{{alertInfo.groupName}}
								</div>
							</td>
						</tr>
						<tr style="height:30px">
							<td width="30%">激活情况:</td>
							<td>
								<select style="width:100%;" ng-model="groupobj.state" ng-blur="check.state()">
									<option value="" disabled selected style="display: none;">选择状态</option>
									<option value="on">激活</option>
									<option value="off">未激活</option>
								</select>
								<div class="alert_note" ng-if="alert.state">
									{{alertInfo.state}}
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="jump_show_foot ">
				<div class="click_button btn btn-primary" style="margin: auto; " ng-click="send() ">确认</div>
				<div class="click_button btn btn-primary" style="margin: auto; " ng-click="back() ">取消</div>
			</div>
		</div>
	</div>
</div>