<div class="background" ng-if="control">
	<div class="jump_show_parent">
		<div class="jump_show">
			<div class="jump_show_head">编辑角色</div>
			<div style="max-height: 500px;overflow: auto;">
				<div style="background: white;padding-top:13px;padding-left:13px;">
					<table width="90%">
						<tr style="height: 30px;">
							<td width="30%">角色名称</td>
							<td>
								<input style="display: block;width: 100%;"  disabled="disabled"  ng-blur="check('empty',$event)" ng-model="role.roleName"/>
								<div class="alert_note" ng-if="alertData">
									{{alertMess}}
								</div>
							</td>
						</tr>
						<tr style="height:30px" ng-init="init();">
							<td width="30%">选择权限:</td>
							<td>
							<ul id="edittree" class="ztree"></ul>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="jump_show_foot ">
				<div class="click_button btn btn-primary" style="margin: auto; " ng-click="send() ">确认</div>
				<div class="click_button btn btn-primary" style="margin: auto; " ng-click="back() ">取消</div>
			</div>
		</div>
	</div>
</div>