<div class="background" ng-if="control">
	<div class="jump_show_parent" style="width: 1000px;" ng-init="init();">
		<div class="jump_show">
			<div class="jump_show_head">编辑MIFI资源</div>
			<div style="max-height: 400px;overflow: auto;">
				<div style="background: white;padding-top:13px;padding-left:13px;">
					<table width="95%">
						<tr style="height:30px">
							<td width="10%">资费卡号:</td>
							<td>
								<div>
									<input type="text" style="width: 100%;" ng-model="mifiobj.mifiPhoneNo" ng-blur="check.mifiPhoneNo()">
								</div>
								<div class="alert_note" ng-if="alert.mifiPhoneNo">
									{{alertInfo.mifiPhoneNo}}
								</div>
							</td>
						</tr>
				<!-- 		
						<tr style="height:30px">
							<td width="10%">MIFI编号:</td>
							<td>
								<div>
									<input type="text" style="width: 100%;" ng-model="mifiobj.mifiNo" ng-blur="check.mifiNo()">
								</div>
								<div class="alert_note" ng-if="alert.mifiNo">
									{{alertInfo.mifiNo}}
								</div>
							</td>
						</tr> -->
						<tr style="height:30px;">
							<td width="10%">IMSI:</td>
							<td style="width: 70% ;">
								<div>
									<input type="text" style="width:100%;" ng-model="mifiobj.imsi" ng-blur="check.mifiPhoneNo()" placeholder>
								</div>
						
								<div class="alert_note" ng-if="alert.imsi">
									{{alertInfo.imsi}}
								</div>
								<div class="alert_note" ng-if="alert.info">
									{{alertInfo.info}}
								</div>
							</td>
						</tr>
						
						<tr style="height:30px;">
							<td width="10%">省份:</td>
							<td style="width: 70% ;">
								<select ng-model="mifiobj.province" ng-required="true" style="display: block;width:100%;" id="check_province" ng-blur="check.province()">
									<option value="" disabled="disabled" selected="selected"/>请选择</option>
									<option ng-selected="mifiobj.province == item" ng-repeat="item in provinces" value="{{item}}">{{item}}</option>
								</select>
								<div class="alert_note" ng-if="alert.province">
									{{alertInfo.province}}
								</div>
							</td>
						</tr>
						
						<tr style="height:30px">
							<td width="10%">运营商:</td>
							<td width="70%">
								<select style="width:100%;" ng-model="mifiobj.mo" ng-blur="check.mo()">
									<option value="" disabled selected style="display: none;">请选择</option>
									<option value="中国移动">中国移动</option>
									<option value="中国联通">中国联通</option>
									<option value="中国电信">中国电信</option>
								</select>
								<div class="alert_note" ng-if="alert.mo">
									{{alertInfo.mo}}
								</div>
							</td>
						</tr>
					
						<tr style="height:30px;">
							<td width="10%">用户来源:</td>
							<td style="width: 70% ;">
								<select ng-model="mifiobj.groupName" ng-required="true" style="display: block;width:100%;" id="check_groupName" ng-blur="check.groupName()">
									<option value="" disabled="disabled" selected="selected"/>请选择</option>
									<option ng-selected="mifiobj.groupName == item.groupName" ng-repeat="item in groups" value="{{item.groupName}}">{{item.groupName}}</option>
									<option value="others"/>其他</option>
								</select>
								<div class="alert_note" ng-if="alert.groupName">
									{{alertInfo.groupName}}
								</div>
							</td>
						</tr>
						<tr style="height:30px;">
							<td width="10%">套餐类型：</td>
							<td style="width: 70% ;">
								<select ng-model="mifiobj.cardType" ng-required="true" style="display: block;width:100%;" id="check_cardtype" ng-blur="check.cardType()">
									<option value="" disabled="disabled" selected="selected"/>请选择</option>
									<option ng-selected="mifiobj.cardType == item.cardType" ng-repeat="item in cardTypes" value="{{item.cardType}}">{{item.cardType}}</option>
								</select>
								<div class="alert_note" ng-if="alert.cardType">
									{{alertInfo.cardType}}
								</div>
							</td>
						</tr>
				
						<tr style="height:30px;">
							<td width="10%">状态：</td>
							<td style="width: 70% ;">
								<select ng-model="mifiobj.activeState" ng-required="true" style="display: block;width:100%;" id="check_activeState" ng-blur="check.activeState()">
									<option value="" disabled="disabled" selected="selected"/>请选择</option>
									<option value="激活">激活</option>
									<option value="未激活">未激活</option>
								</select>
								<div class="alert_note" ng-if="alert.activeState">
									{{alertInfo.activeState}}
								</div>
							</td>
						</tr>

						<tr style="height:30px;">
							<td width="10%">并发数:</td>
							<td style="width: 70% ;">
								<div>
									<input type="text" style="width:100%;" ng-model="mifiobj.concurrency" ng-blur="check.concurrency();" placeholder = "请输入0-9999的整数,0表示不限制">
								</div>
								<div class="alert_note" ng-if="alert.concurrency">
									{{alertInfo.concurrency}}
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="jump_show_foot ">
				<div class="click_button btn btn-primary" style="margin: auto; " ng-click="send() ">确认</div>
				<div class="click_button btn btn-primary" style="margin: auto; " ng-click="close() ">取消</div>
			</div>
		</div>
	</div>
</div>
