<addservice type="name" control="add_service" original="passed_data" refresh-fn="getPagesAndRecords()"></addservice>
<div class="filters">
	<form class="form-inline">
		<div>
			<select style="width:150px !important" class="form-control search-bar" ng-model="appId">
				<option value=''>全部代理商</option>
				<option ng-selected="appId == item.appId" ng-repeat="item in list" value="{{item.appId}}">{{item.agentName}}</option>
			</select>
			<select style="width:150px !important" class="form-control search-bar" ng-model="mo">
				  <option value="" class="condition-desc" selected>按运营商</option>
				  <option value="" >全部运营商</option>
				  <option value="CMCC">中国移动</option>
				  <option value="ChinaUnicom">中国联通</option>
				  <option value="ChinaNet">中国电信</option>		  
		    </select>
		    <select style="width:150px !important" class="form-control search-bar province" ng-model="province">
				    <option value="" class="condition-desc" selected>按省份</option>
				    <option value="" >全部省份</option>
				    <option ng-repeat="item in SelectProvince">{{item.provinceName}}</option>
		    </select>
		    <select style="width:150px !important" class="form-control search-bar province" ng-model="status">
				  <option value="" class="condition-desc" selected>充值状态</option>
				  <option value="" >全部充值状态 </option>
				  <option value="init">处理中</option>
				  <option value="success">成功</option>
				  <option value="fail">失败</option>		  
		    </select>
			<input style="width:150px !important" id="fromDate"  ng-model='fromDate' placeholder="起始时间" class="form-control search-bar" ng-focus="initDateComponent('fromDate')" ReadOnly="true">
			<input style="width:150px !important" id="toDate" ng-model='toDate' placeholder="结束时间" class="form-control search-bar" ng-focus="initDateComponent('toDate')" ReadOnly="true">	
	    </div>
	    <div style="margin-top:10px">
		    <input style="width:150px !important" type="text" class="form-control search-bar" ng-model='customerOrderId' placeholder="商户订单号">				
		   	<input style="width:150px !important" type="text" class="form-control search-bar province" ng-model='phoneNo' placeholder="用户手机号">	
		   	<input style="width:150px !important" type="text" class="form-control search-bar province" ng-model='spec' placeholder="规格">
		   	<input style="width:150px !important" type="text" class="form-control search-bar province" ng-model='resourceId' placeholder="渠道商">
		    <a class="btn btn-primary" role="button" ng-click="filterOrder()">查询</a>
			<a class="fr nav-link" ng-click="exportOrders()">导出订单</a>
		</div>
	</form>
</div>


	<div id="orders" class="data_area" >           
	   <table class="tb_y tb_p0  bgc_3 f_12 instance_table" cellpadding="0" cellspacing="1" border="0">
	     <tr> 
	     	<td class="bgc_4" width="6%">代理商名称</td>
	         <td  class="bgc_4" width="6%">订单号</td>
	         <td  class="bgc_4" width="6%">订单生成时间
	         	<span ng-class="getupSortClass('createdTime')" ng-click="makeOrder('createdTime','up')"></span>
	         		<div style="margin: -9px;"></div>
	         	<span ng-class="getdownSortClass('createdTime')" ng-click="makeOrder('createdTime','down')"></span>
	         </td>
	         <td  class="bgc_4" width="6%">订单结束时间
	         	<span ng-class="getupSortClass('updateTime')" ng-click="makeOrder('updateTime','up')"></span>
	         		<div style="margin: -9px;"></div>
	         	<span ng-class="getdownSortClass('updateTime')" ng-click="makeOrder('updateTime','down')"></span>
	         </td>
	         <td  class="bgc_4" width="9%">商户订单号</td>		 
			 <td  class="bgc_4" width="7%">发放手机号</td> 
	         <td  class="bgc_4" width="6%">运营商 
	         	<span ng-class="getupSortClass('mo')" ng-click="makeOrder('mo','up')"></span>
	         	<div style="margin: -9px;"></div>
	         	<span ng-class="getdownSortClass('mo')" ng-click="makeOrder('mo','down')"></span>
	         </td>
			 <td  class="bgc_4" width="4%">省份</td>               
	         <td  class="bgc_4" width="5%">面额（元）
	         	<span ng-class="getupSortClass('spec')" ng-click="makeOrder('spec','up')"></span>
	         	<div style="margin: -9px;"></div>
	         	<span ng-class="getdownSortClass('spec')" ng-click="makeOrder('spec','down')"></span>
	         </td>
			 <td  class="bgc_4" width="5%">渠道成本（元）</td> 
			 <td  class="bgc_4" width="5%">实扣金额（元）</td> 
			 <td class="bgc_4" width="5%">渠道商</td>
	         <td  class="bgc_4" width="6%">充值状态
	         	<span ng-class="getupSortClass('status')" ng-click="makeOrder('status','up')"></span>
	         	<div style="margin: -9px;"></div>
	         	<span ng-class="getdownSortClass('status')" ng-click="makeOrder('status','down')"></span>
	         </td>
	         <td  class="bgc_4" width="4%">冲正状态</td>
	         <td class="bgc_4" width="6%">操作</td>
	     </tr>
	     <tr ng-repeat="item in orders">     	
	     	<td>{{item.agentName}}</td>
	         <td>{{item.orderId}}</td>
	         <td>{{item.createdTime}}</td>
	         <td>{{item.endTime}}</td>
	         <td>{{item.customerOrderId}}</td>
	         <td>{{item.phoneNo}}</td>
	         <td>{{item.mo}}</td>
	         <td>{{item.province}}</td>
	         <td>{{item.spec}}</td>
	         <td>￥{{item.costPrice.toFixed(3)}}</td>
	         <td>￥{{item.actualPrice.toFixed(3)}}</td>
	         <td>{{item.resourceId}}</td>
	         <td>{{item.status}}</td>
	         <td>
	         	<span ng-if="item.reverseStatus=='none'">未冲正</span>
	         	<span ng-if="item.reverseStatus=='init'">处理中</span>
	         	<span ng-if="item.reverseStatus=='success'">成功</span>
	         	<span ng-if="item.reverseStatus=='fail'">失败</span>
	         </td>
	         <td>
	         	<div class="table_fun_word" ng-click="service(item)" ng-if="(item.status=='成功') || (item.status == '失败' && item.failType && (item.reverseStatus=='fail'||item.reverseStatus=='none') && item.resourceReverse == 'on' ) || (item.status == '成功' && (item.reverseStatus=='fail'||item.reverseStatus=='none') && item.resourceReverse == 'on')">客服处理</div>
	         </td>
	     </tr> 
	     <tr ng-if="orders.length==0">
	         <td colspan="15">没有匹配的记录</td>
	     </tr>    
	   </table>        
	</div>
	  
    <pagination present='page' total="total" page-size="num" length='totalPage' ></pagination>
