<!doctype html>
<html ng-app="all">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta http-equiv="CACHE-CONTROL" content="private" />
		<meta http-equiv="Content-Encoding" content="gzip" />
		<title>通用流量运营平台</title>
		<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="css/inherit.css" />
		<link rel="stylesheet" href="css/mae_css.css" />
		<script src="js/libs/angular.min.js"></script>
		<script src="js/reset.js"></script>
		<script src="js/libs/jquery-1.11.3.min.js"></script>
		<script src="js/libs/md5.min.js"></script>
		<script src="js/libs/layer/layer.js"></script>
		<!--[if lte IE 7]>
    <script src="/js/json2.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="fullscreen">
			<div class="header">
				<!--<div class="top bgc_1 f_14"> -->
				<div class="logo"><img src="images/logo-title.png"></div>
				<!--</div> -->
			</div>
			<div class="main-page" ng-controller="password_reset">
				<div style="padding-top: 5%;">
					<div style="width:41%;margin:0 auto;">
						<span style="font-size: 16px;font-weight: bold;">密码重置</span>
					</div>
					<div style="border: 1px solid #C4C4C4;border-radius: 6px;width: 41%;padding:0 15px;margin: auto;">
						<form name="form">
							<div class="form-group" style="margin-top: 40px;margin-bottom:30px;">
								<input type="password" class="form-control" placeholder="密码"  ng-model="passwd" ng-blur="_check($event,'password');">
								<a class="fl p_a alert alert-danger" ng-show="data[0]">密码必须不小于于6且不能超过20位</a>
								<a class="fl p_a alert alert-danger" ng-show="check">密码不能为空</a>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" ng-model="config" ng-blur="_check($event,'config');"  placeholder="确认密码">
								<a class="fl p_a alert alert-danger" ng-show="data[1]">密码不一致，请再次确认</a>
							</div>
							<div class="form-group t_c" style="margin-bottom:30px;margin-top:25px;">
								<button class="btn btn-primary mt_8" ng-click="pass_passwd()"> 提 交 </button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="footer">
				<footer class="bgc_0 t_c fc_0"><span>宝蕴吉瑞(北京)通讯设备有限公司</span></footer>
			</div>
		</div>
	</body>

</html>